In [ ]:
# Explore the data

In [3]:
%%sql
select * from international_debt limit 10

 * postgresql+psycopg2://postgres:***@localhost:5432/postgres
10 rows affected.

[('Afghanistan', 'AFG', 'Disbursements on external debt, long-term (DIS, current US$)', 'DT.DIS.DLXF.CD', Decimal('72894500')),
 ('Afghanistan', 'AFG', 'Interest payments on external debt, long-term (INT, current US$)', 'DT.INT.DLXF.CD', Decimal('53239400')),
 ('Afghanistan', 'AFG', 'PPG, bilateral (AMT, current US$)', 'DT.AMT.BLAT.CD', Decimal('61739300')),
 ('Afghanistan', 'AFG', 'PPG, bilateral (DIS, current US$)', 'DT.DIS.BLAT.CD', Decimal('49114700')),
 ('Afghanistan', 'AFG', 'PPG, bilateral (INT, current US$)', 'DT.INT.BLAT.CD', Decimal('39903600')),
 ('Afghanistan', 'AFG', 'PPG, multilateral (AMT, current US$)', 'DT.AMT.MLAT.CD', Decimal('39107800')),
 ('Afghanistan', 'AFG', 'PPG, multilateral (DIS, current US$)', 'DT.DIS.MLAT.CD', Decimal('23779700')),
 ('Afghanistan', 'AFG', 'PPG, multilateral (INT, current US$)', 'DT.INT.MLAT.CD', Decimal('13335800')),
 ('Afghanistan', 'AFG', 'PPG, official creditors (AMT, current US$)', 'DT.AMT.OFFT.CD', Decimal('100847000')),
 ('Afghanistan', 'AFG', 'PPG, official creditors (DIS, current US$)', 'DT.DIS.OFFT.CD', Decimal('72894500'))]

In [ ]:
# Find the number of distinct countries

In [4]:
%%sql
select 
    count(distinct(country_name)) 
from international_debt

 * postgresql+psycopg2://postgres:***@localhost:5432/postgres
1 rows affected.

[(124,)]

In [ ]:
# Totaling the amount of debt owned by the countries

In [5]:
%%sql
select
    SUM(debt) as total_debt
from international_debt

 * postgresql+psycopg2://postgres:***@localhost:5432/postgres
1 rows affected.

[(Decimal('3079734509130.5'),)]

In [ ]:
# Find MIN, MAX and AVG debt

In [6]:
%%sql
select
	MIN(debt) AS min_debt,
	MAX(debt) AS max_bebt,
	ROUND(AVG(debt),2) AS avg_debt
from international_debt

 * postgresql+psycopg2://postgres:***@localhost:5432/postgres
1 rows affected.

[(Decimal('0'), Decimal('96218600000'), Decimal('1306633224.07'))]

In [ ]:
# Find the country with highest total debt

In [8]:
%%sql
select
    country_name,
    SUM(debt) as total_debt
from international_debt
group by 
    country_name
order by
    total_debt DESC
limit 1

 * postgresql+psycopg2://postgres:***@localhost:5432/postgres
1 rows affected.

[('China', Decimal('285793486000'))]

In [ ]:
# Find the distinct debt indicators

In [7]:
%%sql
select distinct indicator_code
from international_debt

 * postgresql+psycopg2://postgres:***@localhost:5432/postgres
25 rows affected.

[('DT.DIS.MLAT.CD',),
 ('DT.DIS.PROP.CD',),
 ('DT.AMT.PCBK.CD',),
 ('DT.INT.PCBK.CD',),
 ('DT.DIS.PCBK.CD',),
 ('DT.INT.DLXF.CD',),
 ('DT.AMT.PBND.CD',),
 ('DT.AMT.OFFT.CD',),
 ('DT.INT.BLAT.CD',),
 ('DT.AMT.BLAT.CD',),
 ('DT.DIS.DLXF.CD',),
 ('DT.INT.PRVT.CD',),
 ('DT.AMT.DLXF.CD',),
 ('DT.INT.OFFT.CD',),
 ('DT.AMT.PRVT.CD',),
 ('DT.INT.DPNG.CD',),
 ('DT.INT.MLAT.CD',),
 ('DT.INT.PROP.CD',),
 ('DT.AMT.PROP.CD',),
 ('DT.AMT.MLAT.CD',),
 ('DT.DIS.BLAT.CD',),
 ('DT.DIS.PRVT.CD',),
 ('DT.DIS.OFFT.CD',),
 ('DT.INT.PBND.CD',),
 ('DT.AMT.DPNG.CD',)]

In [ ]:
# The most common debt indicator

In [10]:
%%sql
select
    indicator_code,
    count(indicator_code) as indicator_count
from international_debt
group by 
    indicator_code
order by
    indicator_count DESC

 * postgresql+psycopg2://postgres:***@localhost:5432/postgres
25 rows affected.

[('DT.AMT.DLXF.CD', 124),
 ('DT.AMT.OFFT.CD', 124),
 ('DT.AMT.MLAT.CD', 124),
 ('DT.INT.MLAT.CD', 124),
 ('DT.INT.OFFT.CD', 124),
 ('DT.INT.DLXF.CD', 124),
 ('DT.DIS.DLXF.CD', 123),
 ('DT.DIS.OFFT.CD', 122),
 ('DT.INT.BLAT.CD', 122),
 ('DT.AMT.BLAT.CD', 122),
 ('DT.DIS.MLAT.CD', 120),
 ('DT.DIS.BLAT.CD', 113),
 ('DT.AMT.PRVT.CD', 98),
 ('DT.INT.PRVT.CD', 98),
 ('DT.INT.PCBK.CD', 84),
 ('DT.AMT.PCBK.CD', 84),
 ('DT.AMT.DPNG.CD', 79),
 ('DT.INT.DPNG.CD', 79),
 ('DT.INT.PBND.CD', 69),
 ('DT.AMT.PBND.CD', 69),
 ('DT.INT.PROP.CD', 54),
 ('DT.AMT.PROP.CD', 54),
 ('DT.DIS.PRVT.CD', 53),
 ('DT.DIS.PCBK.CD', 51),
 ('DT.DIS.PROP.CD', 19)]

In [ ]:
# Average amount of debt across indicators

In [9]:
%%sql
select
    indicator_code,
    indicator_name,
    avg(debt) as average_debt
from international_debt
group by
    indicator_code,
    indicator_name
order by
    average_debt DESC

 * postgresql+psycopg2://postgres:***@localhost:5432/postgres
25 rows affected.

[('DT.AMT.DLXF.CD', 'Principal repayments on external debt, long-term (AMT, current US$)', Decimal('5904867487.09677419')),
 ('DT.AMT.DPNG.CD', 'Principal repayments on external debt, private nonguaranteed (PNG) (AMT, current US$)', Decimal('5161195444.29493671')),
 ('DT.DIS.DLXF.CD', 'Disbursements on external debt, long-term (DIS, current US$)', Decimal('2152041700.24390244')),
 ('DT.DIS.OFFT.CD', 'PPG, official creditors (DIS, current US$)', Decimal('1958983555.98360656')),
 ('DT.AMT.PRVT.CD', 'PPG, private creditors (AMT, current US$)', Decimal('1803694184.45102041')),
 ('DT.INT.DLXF.CD', 'Interest payments on external debt, long-term (INT, current US$)', Decimal('1644024846.69354839')),
 ('DT.DIS.BLAT.CD', 'PPG, bilateral (DIS, current US$)', Decimal('1223139298.04336283')),
 ('DT.INT.DPNG.CD', 'Interest payments on external debt, private nonguaranteed (PNG) (INT, current US$)', Decimal('1220409893.79746835')),
 ('DT.AMT.OFFT.CD', 'PPG, official creditors (AMT, current US$)', Decimal('1191187818.70967742')),
 ('DT.AMT.PBND.CD', 'PPG, bonds (AMT, current US$)', Decimal('1082624868.81884058')),
 ('DT.DIS.MLAT.CD', 'PPG, multilateral (DIS, current US$)', Decimal('839843329.25000000')),
 ('DT.INT.PBND.CD', 'PPG, bonds (INT, current US$)', Decimal('804733197.30289855')),
 ('DT.AMT.PROP.CD', 'PPG, other private creditors (AMT, current US$)', Decimal('746888643.47407407')),
 ('DT.AMT.PCBK.CD', 'PPG, commercial banks (AMT, current US$)', Decimal('734868680.13333333')),
 ('DT.INT.PRVT.CD', 'PPG, private creditors (INT, current US$)', Decimal('719739776.13061224')),
 ('DT.AMT.BLAT.CD', 'PPG, bilateral (AMT, current US$)', Decimal('712619616.94180328')),
 ('DT.AMT.MLAT.CD', 'PPG, multilateral (AMT, current US$)', Decimal('490062280.72580645')),
 ('DT.DIS.PRVT.CD', 'PPG, private creditors (DIS, current US$)', Decimal('311323128.49056604')),
 ('DT.INT.OFFT.CD', 'PPG, official creditors (INT, current US$)', Decimal('297677337.90322581')),
 ('DT.DIS.PCBK.CD', 'PPG, commercial banks (DIS, current US$)', Decimal('293305210.58823529')),
 ('DT.INT.BLAT.CD', 'PPG, bilateral (INT, current US$)', Decimal('164093322.30327869')),
 ('DT.INT.PCBK.CD', 'PPG, commercial banks (INT, current US$)', Decimal('156647634.59761905')),
 ('DT.INT.MLAT.CD', 'PPG, multilateral (INT, current US$)', Decimal('136230712.26612903')),
 ('DT.DIS.PROP.CD', 'PPG, other private creditors (DIS, current US$)', Decimal('81135169.105263157895')),
 ('DT.INT.PROP.CD', 'PPG, other private creditors (INT, current US$)', Decimal('34250631.407407407407'))]

In [ ]:
# The highest amount of principal repayments

In [11]:
%%sql
select
    country_name,
    indicator_name,
    debt
from international_debt
where debt = (select max(debt)
                from international_debt
                where indicator_code = 'DT.AMT.DLXF.CD')

 * postgresql+psycopg2://postgres:***@localhost:5432/postgres
1 rows affected.

[('China', 'Principal repayments on external debt, long-term (AMT, current US$)', Decimal('96218600000'))]

In [ ]:
# Find out the maximum amount of debt that each country has

In [36]:
%%sql
select 
    country_name,
    indicator_code,
    MAX(debt) AS max_debt
from international_debt
group by
    country_name,
    indicator_code
order by max_debt DESC
limit 10;

 * postgresql+psycopg2://postgres:***@localhost:5432/postgres
10 rows affected.

[('China', 'DT.AMT.DLXF.CD', Decimal('96218600000')),
 ('Brazil', 'DT.AMT.DLXF.CD', Decimal('90041800000')),
 ('China', 'DT.AMT.DPNG.CD', Decimal('72393000000')),
 ('Russian Federation', 'DT.AMT.DLXF.CD', Decimal('66589800000')),
 ('Turkey', 'DT.AMT.DLXF.CD', Decimal('51555000000')),
 ('South Asia', 'DT.AMT.DLXF.CD', Decimal('48756300000')),
 ('Brazil', 'DT.AMT.PRVT.CD', Decimal('43598700000')),
 ('Russian Federation', 'DT.AMT.DPNG.CD', Decimal('42800200000')),
 ('Brazil', 'DT.AMT.DPNG.CD', Decimal('41831400000')),
 ('Least developed countries: UN classification', 'DT.DIS.DLXF.CD', Decimal('40160800000'))]